h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container-table{
    width: auto;
    height: auto;
    background: white;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

.columnas{
    width: 50px;
    height: 40px;
    border-style: solid;
    text-align: center;
    line-height: 50px;
    text-transform: capitalize;
    font-size: 15px;
    color: white;
    padding-right: 15px;
}

.leyendas{
    width: 100px;
    height: 50px;
    border-style: solid;
    text-align: center;
    line-height: 50px;
    text-transform: capitalize;
    font-size: 15px;
    color: white;
    padding: 10px;
}

._1{
    grid-column-start: 1;
    grid-column-end: 18;
    grid-row-start: 1;
    grid-row-end: 9;
}

._2{
    grid-column-start: 18;
    grid-column-end: 18;
    grid-row-start: 1;
    grid-row-end: 9;
}

._3{
    grid-column-start: 1;
    grid-column-end: 18;
    grid-row-start: 2;
    grid-row-end: 9;
}

._4{
    grid-column-start: 2;
    grid-column-end: 18;
    grid-row-start: 2;
    grid-row-end: 9;
}

._5{
    grid-column-start: 13;
    grid-column-end: 18;
    grid-row-start: 2;
    grid-row-end: 9;
}

._6{
    grid-column-start: 14;
    grid-column-end: 18;
    grid-row-start: 2;
    grid-row-end: 9;
}

._7{
    grid-column-start: 15;
    grid-column-end: 18;
    grid-row-start: 2;
    grid-row-end: 9;
}

._8{
    grid-column-start: 16;
    grid-column-end: 18;
    grid-row-start: 2;
    grid-row-end: 9;
}

._9{
    grid-column-start: 17;
    grid-column-end: 18;
    grid-row-start: 2;
    grid-row-end: 9;
}

._10{
    grid-column-start: 18;
    grid-column-end: 18;
    grid-row-start: 2;
    grid-row-end: 9;
}

._11{
    grid-column-start: 1;
    grid-column-end: 18;
    grid-row-start: 3;
    grid-row-end: 9;
}

._12{
    grid-column-start: 2;
    grid-column-end: 18;
    grid-row-start: 3;
    grid-row-end: 9;
}

._13{
    grid-column-start: 13;
    grid-column-end: 18;
    grid-row-start: 3;
    grid-row-end: 9;
}

._14{
    grid-column-start: 14;
    grid-column-end: 18;
    grid-row-start: 3;
    grid-row-end: 9;
}

._15{
    grid-column-start: 15;
    grid-column-end: 18;
    grid-row-start: 3;
    grid-row-end: 9;
}

._16{
    grid-column-start: 16;
    grid-column-end: 18;
    grid-row-start: 3;
    grid-row-end: 9;
}

._17{
    grid-column-start: 17;
    grid-column-end: 18;
    grid-row-start: 3;
    grid-row-end: 9;
}

._18{
    grid-column-start: 18;
    grid-column-end: 18;
    grid-row-start: 3;
    grid-row-end: 9;
}

._19{
    grid-column-start: 1;
    grid-column-end: 18;
    grid-row-start: 4;
    grid-row-end: 9;
}

._20{
    grid-column-start: 2;
    grid-column-end: 18;
    grid-row-start: 4;
    grid-row-end: 9;
}

._21{
    grid-column-start: 3;
    grid-column-end: 18;
    grid-row-start: 4;
    grid-row-end: 9;
}

._22{
    grid-column-start: 4;
    grid-column-end: 18;
    grid-row-start: 4;
    grid-row-end: 9;
}

._23{
    grid-column-start: 5;
    grid-column-end: 18;
    grid-row-start: 4;
    grid-row-end: 9;
}

._24{
    grid-column-start: 6;
    grid-column-end: 18;
    grid-row-start: 4;
    grid-row-end: 9;
}

._25{
    grid-column-start: 7;
    grid-column-end: 18;
    grid-row-start: 4;
    grid-row-end: 9;
}

._26{
    grid-column-start: 8;
    grid-column-end: 18;
    grid-row-start: 4;
    grid-row-end: 9;
}

._27{
    grid-column-start: 9;
    grid-column-end: 18;
    grid-row-start: 4;
    grid-row-end: 9;
}
 
._28{
    grid-column-start: 10;
    grid-column-end: 18;
    grid-row-start: 4;
    grid-row-end: 9;
}

._29{
    grid-column-start: 11;
    grid-column-end: 18;
    grid-row-start: 4;
    grid-row-end: 9;
}

._30{
    grid-column-start: 12;
    grid-column-end: 18;
    grid-row-start: 4;
    grid-row-end: 9;
}

._31{
    grid-column-start: 13;
    grid-column-end: 18;
    grid-row-start: 4;
    grid-row-end: 9;
}

._32{
    grid-column-start: 14;
    grid-column-end: 18;
    grid-row-start: 4;
    grid-row-end: 9;
}

._33{
    grid-column-start: 15;
    grid-column-end: 18;
    grid-row-start: 4;
    grid-row-end: 9;
}

._34{
    grid-column-start: 16;
    grid-column-end: 18;
    grid-row-start: 4;
    grid-row-end: 9;
}

._35{
    grid-column-start: 17;
    grid-column-end: 18;
    grid-row-start: 4;
    grid-row-end: 9;
}

._36{
    grid-column-start: 18;
    grid-column-end: 18;
    grid-row-start: 4;
    grid-row-end: 9;
}

._37{
    grid-column-start: 1;
    grid-column-end: 18;
    grid-row-start: 5;
    grid-row-end: 9;
}

._38{
    grid-column-start: 2;
    grid-column-end: 18;
    grid-row-start: 5;
    grid-row-end: 9;
}

._39{
    grid-column-start: 3;
    grid-column-end: 18;
    grid-row-start: 5;
    grid-row-end: 9;
}

._40{
    grid-column-start: 4;
    grid-column-end: 18;
    grid-row-start: 5;
    grid-row-end: 9;
}

._41{
    grid-column-start: 5;
    grid-column-end: 18;
    grid-row-start: 5;
    grid-row-end: 9;
}

._42{
    grid-column-start: 6;
    grid-column-end: 18;
    grid-row-start: 5;
    grid-row-end: 9;
}

._43{
    grid-column-start: 7;
    grid-column-end: 18;
    grid-row-start: 5;
    grid-row-end: 9;
}

._44{
    grid-column-start: 8;
    grid-column-end: 18;
    grid-row-start: 5;
    grid-row-end: 9;
}

._45{
    grid-column-start: 9;
    grid-column-end: 18;
    grid-row-start: 5;
    grid-row-end: 9;
}

._46{
    grid-column-start: 10;
    grid-column-end: 18;
    grid-row-start: 5;
    grid-row-end: 9;
}

._47{
    grid-column-start: 11;
    grid-column-end: 18;
    grid-row-start: 5;
    grid-row-end: 9;
}

._48{
    grid-column-start: 12;
    grid-column-end: 18;
    grid-row-start: 5;
    grid-row-end: 9;
}

._49{
    grid-column-start: 13;
    grid-column-end: 18;
    grid-row-start: 5;
    grid-row-end: 9;
}

._50{
    grid-column-start: 14;
    grid-column-end: 18;
    grid-row-start: 5;
    grid-row-end: 9;
}

._51{
    grid-column-start: 15;
    grid-column-end: 18;
    grid-row-start: 5;
    grid-row-end: 9;
}

._52{
    grid-column-start: 16;
    grid-column-end: 18;
    grid-row-start: 5;
    grid-row-end: 9;
}

._53{
    grid-column-start: 17;
    grid-column-end: 18;
    grid-row-start: 5;
    grid-row-end: 9;
}

._54{
    grid-column-start: 18;
    grid-column-end: 18;
    grid-row-start: 5;
    grid-row-end: 9;
}

._55{
    grid-column-start: 1;
    grid-column-end: 18;
    grid-row-start: 6;
    grid-row-end: 9;
}

._56{
    grid-column-start: 2;
    grid-column-end: 18;
    grid-row-start: 6;
    grid-row-end: 9;
}

._57{
    grid-column-start: 3;
    grid-column-end: 18;
    grid-row-start: 6;
    grid-row-end: 9;
}

._58{
    grid-column-start: 4;
    grid-column-end: 18;
    grid-row-start: 6;
    grid-row-end: 9;
}

._59{
    grid-column-start: 5;
    grid-column-end: 18;
    grid-row-start: 6;
    grid-row-end: 9;
}

._60{
    grid-column-start: 6;
    grid-column-end: 18;
    grid-row-start: 6;
    grid-row-end: 9;
}

._61{
    grid-column-start: 7;
    grid-column-end: 18;
    grid-row-start: 6;
    grid-row-end: 9;
}

._62{
    grid-column-start: 8;
    grid-column-end: 18;
    grid-row-start: 6;
    grid-row-end: 9;
}

._63{
    grid-column-start: 9;
    grid-column-end: 18;
    grid-row-start: 6;
    grid-row-end: 9;
}

._64{
    grid-column-start: 10;
    grid-column-end: 18;
    grid-row-start: 6;
    grid-row-end: 9;
}

._65{
    grid-column-start: 11;
    grid-column-end: 18;
    grid-row-start: 6;
    grid-row-end: 9;
}

._66{
    grid-column-start: 12;
    grid-column-end: 18;
    grid-row-start: 6;
    grid-row-end: 9;
}

._67{
    grid-column-start: 13;
    grid-column-end: 18;
    grid-row-start: 6;
    grid-row-end: 9;
}

._68{
    grid-column-start: 14;
    grid-column-end: 18;
    grid-row-start: 6;
    grid-row-end: 9;
}

._69{
    grid-column-start: 15;
    grid-column-end: 18;
    grid-row-start: 6;
    grid-row-end: 9;
}

._70{
    grid-column-start: 16;
    grid-column-end: 18;
    grid-row-start: 6;
    grid-row-end: 9;
}

._71{
    grid-column-start: 17;
    grid-column-end: 18;
    grid-row-start: 6;
    grid-row-end: 9;
}

._72{
    grid-column-start: 18;
    grid-column-end: 18;
    grid-row-start: 6;
    grid-row-end: 9;
}

._73{
    grid-column-start: 1;
    grid-column-end: 18;
    grid-row-start: 7;
    grid-row-end: 9;
}

._74{
    grid-column-start: 2;
    grid-column-end: 18;
    grid-row-start: 7;
    grid-row-end: 9;
}

._75{
    grid-column-start: 3;
    grid-column-end: 18;
    grid-row-start: 7;
    grid-row-end: 9;
}

._76{
    grid-column-start: 4;
    grid-column-end: 18;
    grid-row-start: 7;
    grid-row-end: 9;
}

._77{
    grid-column-start: 5;
    grid-column-end: 18;
    grid-row-start: 7;
    grid-row-end: 9;
}

._78{
    grid-column-start: 6;
    grid-column-end: 18;
    grid-row-start: 7;
    grid-row-end: 9;
}

._79{
    grid-column-start: 7;
    grid-column-end: 18;
    grid-row-start: 7;
    grid-row-end: 9;
}

._80{
    grid-column-start: 8;
    grid-column-end: 18;
    grid-row-start: 7;
    grid-row-end: 9;
}

._81{
    grid-column-start: 9;
    grid-column-end: 18;
    grid-row-start: 7;
    grid-row-end: 9;
}

._82{
    grid-column-start: 10;
    grid-column-end: 18;
    grid-row-start: 7;
    grid-row-end: 9;
}

._83{
    grid-column-start: 11;
    grid-column-end: 18;
    grid-row-start: 7;
    grid-row-end: 9;
}

._84{
    grid-column-start: 12;
    grid-column-end: 18;
    grid-row-start: 7;
    grid-row-end: 9;
}

._85{
    grid-column-start: 13;
    grid-column-end: 18;
    grid-row-start: 7;
    grid-row-end: 9;
}

._86{
    grid-column-start: 14;
    grid-column-end: 18;
    grid-row-start: 7;
    grid-row-end: 9;
}

._87{
    grid-column-start: 15;
    grid-column-end: 18;
    grid-row-start: 7;
    grid-row-end: 9;
}

._88{
    grid-column-start: 16;
    grid-column-end: 18;
    grid-row-start: 7;
    grid-row-end: 9;
}

._89{
    grid-column-start: 17;
    grid-column-end: 18;
    grid-row-start: 7;
    grid-row-end: 9;
}

._90{
    grid-column-start: 18;
    grid-column-end: 18;
    grid-row-start: 7;
    grid-row-end: 9;
}

._91{
    grid-column-start: 4;
    grid-column-end: 18;
    grid-row-start: 8;
    grid-row-end: 9;
}

._92{
    grid-column-start: 5;
    grid-column-end: 18;
    grid-row-start: 8;
    grid-row-end: 9;
}

._93{
    grid-column-start: 6;
    grid-column-end: 18;
    grid-row-start: 8;
    grid-row-end: 9;
}

._94{
    grid-column-start: 7;
    grid-column-end: 18;
    grid-row-start: 8;
    grid-row-end: 9;
}

._95{
    grid-column-start: 8;
    grid-column-end: 18;
    grid-row-start: 8;
    grid-row-end: 9;
}

._96{
    grid-column-start: 9;
    grid-column-end: 18;
    grid-row-start: 8;
    grid-row-end: 9;
}

._97{
    grid-column-start: 10;
    grid-column-end: 18;
    grid-row-start: 8;
    grid-row-end: 9;
}

._98{
    grid-column-start: 11;
    grid-column-end: 18;
    grid-row-start: 8;
    grid-row-end: 9;
}

._99{
    grid-column-start: 12;
    grid-column-end: 18;
    grid-row-start: 8;
    grid-row-end: 9;
}

._100{
    grid-column-start: 13;
    grid-column-end: 18;
    grid-row-start: 8;
    grid-row-end: 9;
}

._101{
    grid-column-start: 14;
    grid-column-end: 18;
    grid-row-start: 8;
    grid-row-end: 9;
}

._102{
    grid-column-start: 15;
    grid-column-end: 18;
    grid-row-start: 8;
    grid-row-end: 9;
}

._103{
    grid-column-start: 16;
    grid-column-end: 18;
    grid-row-start: 8;
    grid-row-end: 9;
}

._104{
    grid-column-start: 17;
    grid-column-end: 18;
    grid-row-start: 8;
    grid-row-end: 9;
}

._105{
    grid-column-start: 18;
    grid-column-end: 18;
    grid-row-start: 8;
    grid-row-end: 9;
}

._106{
    grid-column-start: 4;
    grid-column-end: 18;
    grid-row-start: 9;
    grid-row-end: 9;
}

._107{
    grid-column-start: 5;
    grid-column-end: 18;
    grid-row-start: 9;
    grid-row-end: 9;
}

._108{
    grid-column-start: 6;
    grid-column-end: 18;
    grid-row-start: 9;
    grid-row-end: 9;
}

._109{
    grid-column-start: 7;
    grid-column-end: 18;
    grid-row-start: 9;
    grid-row-end: 9;
}

._110{
    grid-column-start: 8;
    grid-column-end: 18;
    grid-row-start: 9;
    grid-row-end: 9;
}

._111{
    grid-column-start: 9;
    grid-column-end: 18;
    grid-row-start: 9;
    grid-row-end: 9;
}

._112{
    grid-column-start: 10;
    grid-column-end: 18;
    grid-row-start: 9;
    grid-row-end: 9;
}

._113{
    grid-column-start: 11;
    grid-column-end: 18;
    grid-row-start: 9;
    grid-row-end: 9;
}

._114{
    grid-column-start: 12;
    grid-column-end: 18;
    grid-row-start: 9;
    grid-row-end: 9;
}

._115{
    grid-column-start: 13;
    grid-column-end: 18;
    grid-row-start: 9;
    grid-row-end: 9;
}

._116{
    grid-column-start: 14;
    grid-column-end: 18;
    grid-row-start: 9;
    grid-row-end: 9;
}

._117{
    grid-column-start: 15;
    grid-column-end: 18;
    grid-row-start: 9;
    grid-row-end: 9;
}

._118{
    grid-column-start: 16;
    grid-column-end: 18;
    grid-row-start: 9;
    grid-row-end: 9;
}

._119{
    grid-column-start: 17;
    grid-column-end: 18;
    grid-row-start: 9;
    grid-row-end: 9;
}

._120{
    grid-column-start: 18;
    grid-column-end: 18;
    grid-row-start: 9;
    grid-row-end: 9;
} 

.Alcalinos{
    background-color: rgb(157, 69, 240);
}

.Alcalinoterreos{
    background-color: rgb(236, 117, 238);
}

.Metales{
    background-color: rgb(214, 184, 18);
}

.Otros_metales{
    background-color: rgb(222, 216, 105);
}

.Metaloides{
    background-color: rgb(111, 235, 119);
}

.Otros_no_metales{
    background-color: rgb(30, 195, 24);
}

.Halogenos{
    background-color: rgb(77, 183, 222);
}

.Gases{
    background-color: rgb(44, 44, 184);
}

.Lantanidos{
    background-color: rgb(214, 138, 84);
}

.Actinidos{
    background-color: rgba(155, 102, 27, 0.806);
}